{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<section class="page_container user_content address-list">

	<h1>{{ 'menu.user.address'|matra('Addresses') }}</h1>

	{% include "@MaciUser/Address/_list.html.twig" with { 'actions': 'actions' } %}

	<div class="buttons-bar actions">
		<a class="btn btn-default"  href="{{ path('maci_address_form') }}">
			{{ 'address.list.add'|matra('New Address') }}
		</a>
	</div>

</section>

{% endblock %}
