{% extends "@FOSUser/layout.html.twig" %}


{% block mainPathBar %}

<div class="securityFormWrapper container-fluid">
<div class="securityForm col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

	<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
	<ol class="breadcrumb">

		<li class="breadcrumb-item">
			<a href="{{ path('homepage') }}">Home</a>
		</li>

		<li class="breadcrumb-item active">
			{{ 'login'|matla('Login') }}
		</li>

	</ol>
	</nav>

</div>
</div>

{% endblock %}


{% block fos_user_content %}

<div class="securityFormWrapper container-fluid">
<div class="securityForm col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

	<h3>{{ 'login'|matla('Login') }}</h3>

	{{ render(url('fos_user_security_login')) }}

</div>
</div>

{% endblock %}
